/* Initial */
.ContactButton {
    padding: 16px 30px 16px 30px;
    border-radius: 16px;
    background: var(--button-primary-background);
    transition: .3s transform ease-in-out;
    will-change: transform;
    position: relative;
    overflow: hidden;
    z-index: 0;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 25px;
    color: var(--text-color);
}

/* Hover */

.ContactButton:hover {
    border: 2px solid transparent;
    color: var(--text-color);
    transform: scale(1.05);
    will-change: transform;
}

.ContactButton::after {
    background: var(--primary-color);
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-100%, 0) rotate(10deg);
    transform-origin: top left;
    transition: .3s transform ease-out;
    will-change: transform;
    z-index: -1;
}

.ContactButton:hover::after {
    transform: translate(0, 0);
}

/* Focus */
.ContactButton:focus {
    border: 4px solid var(--button-focus-border-color);
    background: var(--button-primary-background);
}

/* Pressed */
.ContactButton:active:after {
    background: var(--button-pressed-color);
    animation-timing-function: ease-out;
    animation-duration: 300ms;
}

/* Disabled */
.ContactButton:disabled {
    background: var(--button-diabled-color);
    border: 0;
}